
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>analyzed text</title>
    <style>
        body{
            background-color:green;
        }
        textarea{
            border:2px solid white;
            height:250px;
            width:550px;
        }
    </style>
</head>
<body>
<h1>Welcome to the text analyzer.<br> Enter your text below</h1>
<p>
    <form action='/analyze' method="get">
<textarea></textarea><br>

    <input type="checkbox" name="removepunc">Remove punctuations <br>
<button type="submit" coursor="pointer">Analayze text</button>
</form>
</p>



</body>
</html>